doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js")
    body
        header
            h1 Zoom
        main
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js", type="module")