doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Zoom
        main
           ul(id="message-list")
           form(id="send-form")
               input(type="text", required, placeholder="write a msg")
               button submit
        script(src="/public/js/app.js")